{{!-- Layout for the milkshake name and GULP button --}}
<div class="row align-items-center">
  <div class="col col-md-12 col-lg-6 text-md-center" id="shake-name">
    {{milkshake_name}}
  </div>

  <div class="col col-md-12 col-lg-6 text-md-center">
    <button class="change-gulp" data-id="{{id}}" data-newgulp="{{gulped}}">
      {{#if gulped}}GULP!{{else}}{{/if}}
    </button>
  </div>
</div>