{{!-- Layout for the milkshakes that have been gulped --}}
<div class="row align-items-center">
  <div class="col" id="shake-name">
    <p class="gulped-name">{{milkshake_name}}</p>
    <hr>
  </div>
</div>