<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    {{!-- Header Definition --}}
		<title>Ma Milkshake</title>

    <link rel="icon" href="assets/images/favicon.ico">

    {{!-- Bootstrap imports  --}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    {{!-- Imports Google fonts --}}
    <link href="https://fonts.googleapis.com/css?family=PT+Sans|Pacifico" rel="stylesheet">

    {{!-- Imports the JS file as well as the stylesheet --}}
    <script src="/assets/js/shakes.js"></script>
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	</head>

	<body>
    {{!-- Placeholder for handlebars objects  --}}
		{{{ body }}}
	</body>
</html>
